<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/element.css">
    <!-- 引入组件库 -->
    <link rel="stylesheet" href="/css/common.css">
    <script src="/js/jquery.js"></script>
    <script src="/common/vue.js"></script>
    <script src="/common/element.js"></script>
    <script src="/common/tableExport.jquery.plugin-master/jquery.base64.js"></script>
    <script src="/common/tableExport.jquery.plugin-master/tableExport.js"></script>
    <title>顺义行政审批平台</title>
    <style>
        .el-table__header {
            border-bottom: 1px solid #ebeef5;
        }
    </style>
</head>

<body>
    <div class="content" id="content">
        <div id="commonMenu"></div>
        <div id="doc">
            <div class='substance'>
                <div class="header" style="overflow: hidden;margin-bottom: 15px;">
                    <el-breadcrumb separator-class="el-icon-arrow-right"
                        style="position: relative;top: 15px;float: left;">
                        <el-breadcrumb-item>查询统计</el-breadcrumb-item>
                        <el-breadcrumb-item>综合统计</el-breadcrumb-item>
                        <el-breadcrumb-item>预约统计</el-breadcrumb-item>
                    </el-breadcrumb>
                    <el-row style="float: right;">
                        <el-button type='primary' v-if='settingFlag' @click='settingClick(settingFlag)'>隐藏统计配置项
                        </el-button>
                        <el-button type='primary' v-if='!settingFlag' @click='settingClick(settingFlag)'>显示统计配置项
                        </el-button>
                        <el-button type="primary">统计</el-button>
                        <el-button type="primary" @click='exportExcel()'>导出</el-button>
                    </el-row>
                </div>
                <div class="table">
                    <div class="statisticsForm" :class='settingFlag?"showDiv":"hideDiv"'>
                        <el-row style="padding-top: 15px">
                            <el-form ref="statisticsForm" :inline='true' :model="statisticsForm" label-width="80px"
                                class="demo-form-inline">
                                <el-form-item label="周期">
                                    <el-radio-group v-model="statisticsForm.cycle">
                                        <el-radio :label="1">日报</el-radio>
                                        <el-radio :label="2">月报</el-radio>
                                        <el-radio :label="3">年报</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                                <el-form-item label="时间范围">
                                    <el-col v-if='statisticsForm.cycle==1'>
                                        <el-col :span="11">
                                            <el-form-item prop="date1">
                                                <el-date-picker type="date" placeholder="选择日期"
                                                    v-model="statisticsForm.date1" style="width: 100%;">
                                                </el-date-picker>
                                            </el-form-item>
                                        </el-col>
                                        <el-col class="line" :span="2">-</el-col>
                                        <el-col :span="11">
                                            <el-form-item prop="date2">
                                                <el-date-picker type="date" placeholder="选择日期"
                                                    v-model="statisticsForm.date2" style="width: 100%;">
                                                </el-date-picker>
                                            </el-form-item>
                                        </el-col>
                                    </el-col>
                                    <el-col v-if='statisticsForm.cycle==2'>
                                        <el-col :span="11">
                                            <el-form-item prop="date1">
                                                <el-date-picker type="month" placeholder="选择日期"
                                                    v-model="statisticsForm.date1" style="width: 100%;">
                                                </el-date-picker>
                                            </el-form-item>
                                        </el-col>
                                        <el-col class="line" :span="2">-</el-col>
                                        <el-col :span="11">
                                            <el-form-item prop="date2">
                                                <el-date-picker type="month" placeholder="选择日期"
                                                    v-model="statisticsForm.date2" style="width: 100%;">
                                                </el-date-picker>
                                            </el-form-item>
                                        </el-col>
                                    </el-col>
                                    <el-col v-if='statisticsForm.cycle==3'>
                                        <el-col :span="11">
                                            <el-form-item prop="date1">
                                                <el-date-picker type="year" placeholder="选择日期"
                                                    v-model="statisticsForm.date1" style="width: 100%;">
                                                </el-date-picker>
                                            </el-form-item>
                                        </el-col>
                                        <el-col class="line" :span="2">-</el-col>
                                        <el-col :span="11">
                                            <el-form-item prop="date2">
                                                <el-date-picker type="year" placeholder="选择日期"
                                                    v-model="statisticsForm.date2" style="width: 100%;">
                                                </el-date-picker>
                                            </el-form-item>
                                        </el-col>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label='部门'>
                                    <el-select style="width:400px" v-model="statisticsForm.companyScopeValue"
                                        placeholder="请选择" :multiple='statisticsForm.multiple' filterable>
                                        <el-option v-for="item in statisticsForm.companyScope" :key="item.value"
                                            :label="item.label" :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-form>
                        </el-row>
                    </div>
                    <template>
                        <el-table :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
                            style="width: 100%;" border size='small' show-summary id="table">
                            <!-- <el-table-column type='selection' width='40'></el-table-column> -->
                            <el-table-column prop="link" label="序号"></el-table-column>
                            <el-table-column prop="status" label="单位"></el-table-column>
                            <el-table-column prop="index" label="未处理"></el-table-column>
                            <el-table-column prop="name" label="已处理"></el-table-column>
                            <el-table-column prop="people" label="已取消"></el-table-column>
                            <el-table-column prop="phone" label="已拒绝"></el-table-column>
                            <el-table-column prop="department" label="已赴约"></el-table-column>
                            <el-table-column prop="time" label="未赴约"></el-table-column>
                        </el-table>
                    </template>
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                        :page-sizes="[1, 2, 3, 4]" :page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper" :total="tableData.length">
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $.ajax({
        url: "../../common/menu.html",
    }).then(res => {
        $("#commonMenu").html(res)
    })
    var app = new Vue({
        el: "#content",
        data() {
            return {
                total: "",
                pageSize: 4,
                currentPage: "1",
                tableData: [
                    { link: "1", status: "1", index: "1", name: "1", people: "1", phone: "1", department: "1", time: "1", }
                ],
                statisticsForm: {
                    company: 1,
                    cycle: 1,
                    date1: this.cycle == 3 ? new Date().getFullYear() : this.cycle == 2 ? new Date().getFullYear() + "-" + parseInt(parseInt(new Date().getMonth()) + parseInt(1)) : new Date().getFullYear() + "-" + parseInt(parseInt(new Date().getMonth()) + parseInt(1)) + "-" + new Date().getDate(),
                    date2: this.cycle == 3 ? new Date().getFullYear() : this.cycle == 2 ? new Date().getFullYear() + "-" + parseInt(parseInt(new Date().getMonth()) + parseInt(1)) : new Date().getFullYear() + "-" + parseInt(parseInt(new Date().getMonth()) + parseInt(1)) + "-" + new Date().getDate(),
                    companyScope: [
                        { value: "1", label: "1" },
                        { value: "2", label: "2" },
                        { value: "11", label: "11" },
                    ],
                    companyScopeValue: "",
                    multiple: true
                },
                settingFlag: true,
                statisticsFormHeight: null
            }
        },
        created() {
            localStorage.setItem("sy_activeIndex", 7)
            localStorage.setItem("sy_leftColumnActiveIndex", 7)
            this.total = this.tableData.length;
        },
        mounted() {
            this.statisticsFormHeight = $(".statisticsForm").height()
        },
        methods: {
            handleSizeChange(val) {
                this.pageSize = val;
            },
            handleCurrentChange(val) {
                this.currentPage = val;
            },
            settingClick(e) {
                this.settingFlag = !e;
                if (this.settingFlag) {
                    $(".statisticsForm").css({ "height": this.statisticsFormHeight, "transition": "height 1s", "overflow": "hidden" })
                } else {
                    $(".statisticsForm").css({ "height": 0, "transition": "height 1s", "overflow": "hidden" })
                }
            },
            exportExcel() {
                $('#table').tableExport({ type: 'excel', escape: 'false', });
            },
        }
    })
</script>

</html>