<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/element.css">
    <!-- 引入组件库 -->
    <link rel="stylesheet" href="/css/common.css">
    <script src="/js/jquery.js"></script>
    <script src="/common/vue.js"></script>
    <script src="/common/element.js"></script>
    <script src="/common/tableExport.jquery.plugin-master/jquery.base64.js"></script>
    <script src="/common/tableExport.jquery.plugin-master/tableExport.js"></script>
    <title>顺义行政审批平台</title>
</head>

<body>
    <div class="content" id="content">
        <div id="commonMenu"></div>
        <div id="doc">
            <div class='substance'>
                <div class="header" style="overflow: hidden;">
                    <el-breadcrumb separator-class="el-icon-arrow-right"
                        style="position: relative;top: 15px;float: left;">
                        <el-breadcrumb-item>接件受理</el-breadcrumb-item>
                        <el-breadcrumb-item>接件受理</el-breadcrumb-item>
                        <el-breadcrumb-item>不予受理</el-breadcrumb-item>
                    </el-breadcrumb>
                    <el-row style="float: right;">
                        <el-input placeholder="在这里输入要搜索的内容" style="width:350px" v-model='searchText'></el-input>
                        <el-button type="primary">搜索</el-button>
                        <el-button type="primary" @click='openSearchForm'>高级搜索</el-button>
                        <el-button type="primary" @click='reset'>重置</el-button>
                    </el-row>
                </div>
                <div class="table" style="margin-top: 15px;">
                    <el-button type='primary' style="margin-bottom: 15px;" @click='exportExcel'>全部导出</el-button>
                    <template>
                        <el-table :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
                            style="width: 100%" border size='small' id="table">
                            <el-table-column type="selection" width='40'></el-table-column>
                            <el-table-column prop="index" label="办件编号" sortable></el-table-column>
                            <el-table-column prop="name" label="事项名称" width='200' sortable></el-table-column>
                            <el-table-column prop="doc" label="事项内容" width='200' sortable></el-table-column>
                            <el-table-column prop="static" label="状态" sortable></el-table-column>
                            <el-table-column prop="id" label="申请人/单位" sortable></el-table-column>
                            <el-table-column prop='date' label='收件时间' sortable></el-table-column>
                            <el-table-column prop='overDate' label='办结时间' sortable></el-table-column>
                            <el-table-column prop='days' label='办理天数' sortable></el-table-column>
                            <el-table-column prop='day' label='承诺天数' sortable></el-table-column>
                            <el-table-column prop='flag' label='是否已取件' sortable></el-table-column>
                        </el-table>
                    </template>
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                        :page-sizes="[1, 2, 3, 4]" :page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper" :total="tableData.length">
                    </el-pagination>
                </div>
            </div>
        </div>
        <div class='searchFormBg' v-if='searchFormFlag'>
            <div class="searchForm">
                <div class="settingTop" style="margin-bottom: 20px;">
                    <span>高级搜索</span>
                    <i class='el-icon-close' @click='closeSearchForm'></i>
                </div>
                <el-form :label-position='"right"' ref='searchForm' :model='searchForm' label-width="120px" size='mini'>
                    <el-form-item label='办件编号:'>
                        <el-input v-model='searchForm.number' style="width:280px">
                        </el-input>
                    </el-form-item>
                    <el-form-item label='事项名称:'>
                        <el-input v-model='searchForm.child' style="width:280px"></el-input>
                        </el-input>
                    </el-form-item>
                    <el-form-item label='事项内容:'>
                        <el-input v-model='searchForm.type' style="width:280px">
                        </el-input>
                    </el-form-item>
                    <el-form-item label='状态:'>
                        <el-input v-model='searchForm.content' style="width:280px">
                        </el-input>
                    </el-form-item>
                    <el-form-item label='申请人/单位:'>
                        <el-input v-model='searchForm.name' style="width:280px">
                        </el-input>
                    </el-form-item>
                    <el-form-item label='收件时间:'>
                        <el-date-picker v-model="searchForm.date" type="daterange" range-separator="至"
                            start-placeholder="开始日期" end-placeholder="结束日期" value-format='yyyy-MM-ddx'
                            style="width: 280px;">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label='办结时间:'>
                        <el-date-picker v-model="searchForm.time" type="daterange" range-separator="至"
                            start-placeholder="开始日期" end-placeholder="结束日期" value-format='yyyy-MM-ddx'
                            style="width: 280px;">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label='办理天数:'>
                        <el-input v-model='searchForm.days' style="width:280px">
                    </el-form-item>
                    <el-form-item label='办理天数:'>
                        <el-input v-model='searchForm.days1' style="width:280px">
                    </el-form-item>
                    <el-form-item label='是否已取件:'>
                        <el-input v-model='searchForm.flag' style="width:280px">
                    </el-form-item>
                    <el-form-item>
                        <el-button type='primary' @click='searchFormReset'>重置</el-button>
                        <el-button type='primary'>搜索</el-button>
                        <el-button type='primary' @click='closeSearchForm'>返回</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</body>
<script>
    $.ajax({
        url: "../../common/menu.html",
    }).then(res => {
        $("#commonMenu").html(res)
    })
    var app = new Vue({
        el: "#content",
        data() {
            return {
                total: "",
                pageSize: 4,
                currentPage: "1",
                tableData: [
                    { index: '100001', name: '王小虎1', doc: "1", static: "1", id: "1", date: "0", overDate: "1", days: "1", day: "1", flag: "1" },
                    { index: '100002', name: '王小虎2', doc: "2", static: "2", id: "2", date: "0", overDate: "1", days: "1", day: "1", flag: "2" },
                    { index: '100003', name: '王小虎3', doc: "3", static: "3", id: "3", date: "0", overDate: "1", days: "1", day: "1", flag: "3" },
                    { index: '100004', name: '王小虎4', doc: "4", static: "4", id: "4", date: "0", overDate: "1", days: "1", day: "1", flag: "4" },
                ],
                searchForm: {number: "",child: "",type: "",date: "",content: "",name:'',time:"",days:"",days1:"",flag:""},
                searchFormFlag:false,
                searchText:""
            }
        },
        created() {
            localStorage.setItem("sy_activeIndex", 1)
            localStorage.setItem("sy_leftColumnActiveIndex", 9)
            this.total = this.tableData.length;
        },
        methods: {
            handleSizeChange(val) {
                this.pageSize = val;
            },
            handleCurrentChange(val) {
                this.currentPage = val;
            },
            exportExcel() {
                $('#table').tableExport({ type: 'excel', escape: 'false', });
            },
            reset() {
                this.searchText = '';
            },
            openSearchForm() {
                this.searchFormFlag = true;
            },
            closeSearchForm() {
                this.searchFormFlag = false,
                    this.searchForm = {
                        number: "",
                        child: "",
                        type: "",
                        date: "",
                        content: "",
                        name:'',time:"",days:"",days1:"",flag:""
                    }
            },
            searchFormReset() {
                this.searchForm = {
                    number: "",
                    child: "",
                    type: "",
                    date: "",
                    content: "",
                    name:'',time:"",days:"",days1:"",flag:""
                }
            },
        }
    })
</script>

</html>